{% extends 'base.html' %}
{% set active_page='home' %}
{% block main_content %}


<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
        {%if current_user.is_authenticated %}
            <h2>Deine EvE Charakteren in der Corp</h2>
        {% endif %}
      <div class="container">
        {% for char in chars %}
        <div class="row">
            <h3>{{ char.character_name }}</h3>
        </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>



{% if current_user.is_authenticated %}
  Hi {{ current_user.username }} !
{% endif %}

{% endblock %}